version: '3'
services:
#  database:
#    image: "postgres" # use latest official postgres version
#    environment:
#      - POSTGRES_USER=${POSTGRES_USER}
#      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
#      - POSTGRES_DB=${POSTGRES_DB}
#    volumes:
#      - ./data:/var/lib/postgresql/data/
#    ports:
#      - "5432:5432"
#    networks:
#      - core

  db:
    image: mysql:5.7.22
    container_name: db
    tty: true
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_HOST: '%'
      MYSQL_USER: root
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: core
    volumes:
      - ./dbdata:/var/lib/mysql/
    networks:
      - core

networks:
  core:
    driver: bridge